[submodule "vimplugins/sensible"]
	path = vimplugins/sensible
	url = https://tpope.io/vim/sensible.git
[submodule "vimplugins/vim-surround"]
	path = vimplugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimplugins/lightline.vim"]
	path = vimplugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vimplugins/fzf.vim"]
	path = vimplugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vimplugins/fzf"]
	path = vimplugins/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vimplugins/vim-fugitive"]
	path = vimplugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimplugins/vim-polyglot"]
	path = vimplugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vimplugins/wiki.vim"]
	path = vimplugins/wiki.vim
	url = https://github.com/lervag/wiki.vim.git
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
[submodule "vimplugins/ack.vim"]
	path = vimplugins/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vimplugins/notational-fzf-vim"]
	path = vimplugins/notational-fzf-vim
	url = https://github.com/alok/notational-fzf-vim.git
[submodule "vimplugins/vim-sneak"]
	path = vimplugins/vim-sneak
	url = https://github.com/justinmk/vim-sneak
