[user]
	name = Dazhong Xia

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[core]
	excludesFile = ~/.gitignore
	pager = delta

[push]
	autoSetupRemote = true
	default = upstream

[credential]
	helper = cache

[help]
	autocorrect = -1

[alias]
	pushf = push --force-with-lease
	sdiff = -c delta.features=side-by-side diff
	prune-branches = git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d

[pull]
	rebase = true

[merge]
	conflictStyle = zdiff3
